@page
@using Microsoft.AspNetCore.Identity
@using JingJaiPharmacy.Models

@model JingJaiPharmacy.Pages.MedicineAdmin.DeleteModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "ลบข้อมูลยา";
}
<body style=" background-color:#f0f5f5"> 
<h2>ลบข้อมูลยา</h2>

<h3>แน่ใจที่จะลบข้อมูลยาใช่หรือไม่?</h3>
<div>
    <h4>ยามีข้อมูลดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicine.MedCat.Name)
        </dd>
        <dt>
            ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicine.MedName)
        </dd>
        <dt>
            จำนวนยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicine.Number)
        </dd>
        <dt>
           คุณลักษณะของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicine.ExplainMed)
        </dd>
        <dt>
           เขียนโดย
        </dt>
        <dd>
            @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Medicine.MedicineID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>