@page
@using Microsoft.AspNetCore.Identity
@using JingJaiPharmacy.Models

@model JingJaiPharmacy.Pages.MedicineAdmin.DetailsModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "ข้อมูลยา";
}
<body style=" background-color:#f0f5f5"> 
<h2>ข้อมูลยา</h2>

<div>
    <h4>ยามีข้อมูลดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อประเภทของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicine.MedCat.Name)
        </dd>
        <dt>
           ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicine.MedName)
        </dd>
        <dt>
          จำนวนยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicine.Number)
        </dd>
        <dt>
            คุณลักษณะของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicine.ExplainMed)
        </dd>
        <dt>
           เขียนโดย
        </dt>
        <dd>
            @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Medicine.MedicineID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>