@page
@using Microsoft.AspNetCore.Identity
@using JingJaiPharmacy.Models

@model JingJaiPharmacy.Pages.MedicineAdmin.EditModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "แก้ไขข้อมูลยา";
}
<body style=" background-color:#f0f5f5"> 
<h2>แก้ไขข้อมูลยา</h2>

<h4>ยามีข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medicine.MedicineID" />
            <div class="form-group">
               ชื่อประเภทของยา
                <select asp-for="Medicine.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="Medicine.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อยา
                <input asp-for="Medicine.MedName" class="form-control" />
                <span asp-validation-for="Medicine.MedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนยา
                <input asp-for="Medicine.Number" class="form-control" />
                <span asp-validation-for="Medicine.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                คุณลักษณะของยา/อย่างไร/เวลาไหน
                <input asp-for="Medicine.ExplainMed" class="form-control" />
                <span asp-validation-for="Medicine.ExplainMed" class="text-danger"></span>
            </div>
            <div class="form-group">
                เขียนข้อมูลโดย : @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
               <input asp-for="Medicine.UerId" type="hidden" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>