@page
@using Microsoft.AspNetCore.Identity
@using JingJaiPharmacy.Models

@model JingJaiPharmacy.Pages.MedicineAdmin.IndexModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "ข้อมูลยา";
}
<body style=" background-color:#f0f5f5"> 
<h2>ข้อมูลยา</h2>

<p>
    <a asp-page="Create">เพิ่มข้อมูลยา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อประเภทของยา
            </th>
            <th>
                ชื่อยา
            </th>
            <th>
              จำนวนยา
            </th>
            <th>
              คุณลักษณะของยา/กินอย่างไร/เวลาไหน
            </th>
            <th>
               เขียนโดย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medicine) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedCat.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExplainMed)
            </td>
            <td>
                 @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MedicineID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MedicineID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MedicineID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>