@page
@model NewsReport.Pages.NewsCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบหมวดข่าว";
}

<h2>ลบหมวดข่าว</h2>

<h3>แน่ใจที่จะลบหมวดข่าวนี้ใช่หรือไม่?</h3>
<div>
    <h4>หมวดข่าวมีดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           ชื่อย่อของหมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
            ชื่อเต็ม/คำอธิบายหมวด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NewsCategory.NewsCategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
