@page
@model JingJaiPharmacy.Pages.CatAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบประเภทของยา";
}
<body style=" background-color:#f0f5f5"> 
<h2>ลบประเภทของยา</h2>

<h3>แน่ใจที่จะลบประเภทของยาใช่หรือไม่?</h3>
<div>
    <h4>ประเภทของยา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อประเภทของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            คุณสมบัติของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Explain)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Category.CategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>