@page
@model JingJaiPharmacy.Pages.CatAdmin.DetailsModel

@{
    ViewData["Title"] = "ข้อมูลของประเภทยา";
}
<body style=" background-color:#f0f5f5"> 
<h2>ข้อมูลของประเภทยา</h2>

<div>
    <h4>ประเภทของยา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           ชื่อประเภทของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            คุณสมบัติของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Explain)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>