@page
@model JingJaiPharmacy.Pages.CatAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขประเภทของยา";
}
<body style=" background-color:#f0f5f5"> 
<h2>แก้ไขประเภทของยา</h2>

<h4>ประเภทของยา</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.CategoryID" />
            <div class="form-group">
               ชื่อประเภทของยา
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                คุณสมบัติของยาประเภทนี้
                <input asp-for="Category.Explain" class="form-control" />
                <span asp-validation-for="Category.Explain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>