@page
@model JingJaiPharmacy.Pages.CatAdmin.IndexModel

@{
    ViewData["Title"] = "ประเภทของยา";
}
<body style=" background-color:#f0f5f5"> 
<h2>ประเภทของยา</h2>

<p>
    <a asp-page="Create">เพิ่มประเภทของยา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อประเภทของยา
            </th>
            <th>
       คุณสมบัติของยา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explain)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>