@page
@model NewsReport.Pages.NewsAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข่าว";
}

<h2>ลบข่าว</h2>

<h3>แน่ใจที่จะลบข่าวนี้ใช่หรือไม่?</h3>
<div>
    <h4>ข่าวมีดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
            วันเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            ข้อมูลข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            ละติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            ลองจิจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
           สถานะข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
        <dt>
            โพสโดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.postUser.FirstName) @Html.DisplayFor(model => model.News.postUser.LastName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
