@page
@model NewsReport.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsCategory[0].ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsCategory[0].FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
