@page
@model NewsReport.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "ข้อมูลข่าว";
}

<h2>ข้อมูลข่าว</h2>

<div>
    <h4>ข้อมูลข่าวมีดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
		ชื่อย่อหมวดข่าว
	</dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
		      ชื่อเต็ม/คำอธิบายหมวด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
