﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Jing Jai Pharmacy";
}
<body style=" background-color:#f0f5f5"> 
<div class="jumbotron" style="background-color:#a3a3c2">
	<center><h2 style="color:#f0f5f5">บัญชียาร้านจริงใจฟามาซี</h2></center>
</div>

<h3>บัญชียาทั้งหมดในระบบ</h3>
<h5 style="color:red">ยาที่ขึ้นเป็นสีแดง หมายถึงใกล้หมดจากคลังยา(ปริมาณน้อยกว่า 10 ชุดในคลัง)</h5>
@foreach(var catItem in Model.Category){
<div class="row">
	<h3>@Html.DisplayFor(model=>catItem.Name)</h3>
</div>
<div class="row">     
	<table class="table">    
	<thead>         
		<tr>            
			<th>ประเภทของยา</th><th>ชื่อของยา</th><th>คุณลักษณะของยา/กินอย่างไร/เวลาไหน</th><th>จำนวนที่มีอยู่</th>
		</tr>     
	</thead>     
	<tbody>
@foreach (var item in Model.Medicine) {         
	if(item.CategoryID == catItem.CategoryID){
	<tr>    
	@if(item.Number<10){
		<td>                 
			<p style="color:red">@Html.DisplayFor(modelItem => item.MedCat.Name)</p>             
		</td>             
		<td>                 
			<p style="color:red">@Html.DisplayFor(modelItem => item.MedName)</p>             
		</td>             
		<td> 
			<p style="color:red">@Html.DisplayFor(modelItem => item.ExplainMed)</p>            
		</td>             
		<td>         	
			<p style="color:red">@Html.DisplayFor(modelItem => item.Number)</p>
		</td> 
	}
	else {
		<td>                 
			@Html.DisplayFor(modelItem => item.MedCat.Name)             
		</td>             
		<td>                 
			@Html.DisplayFor(modelItem => item.MedName)             
		</td>             
		<td> 
			@Html.DisplayFor(modelItem => item.ExplainMed)            
		</td>             
		<td>         	
			@Html.DisplayFor(modelItem => item.Number)
		</td> 
	}
	</tr> 
	}
}    
	</tbody> 
	</table>  
</div> 
}
</body>